<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
            
var quantitiy=0;
   $('.quantity-right-plus').click(function(e){
        e.preventDefault();
             var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
    });

     $('.quantity-left-minus').click(function(e){
             e.preventDefault();
             var quantity = parseInt($('#quantity').val());
                 if(quantity>0){
            $('#quantity').val(quantity - 1);
            }
    });
    
});
</script>
</head>

<body>
 <div class="container">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
  
  <fruit-list></fruit-list>
  </div>
</div>
  <fruit-detail></fruit-detail>

</body>
</html>


